body{
    background-color: rgb(225, 225, 225);
    margin: 0;
    padding: 0;
}

.site-header{
    background-color: #1F3A5F;
    height: 125px;
    margin-top: 0%;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;   /* aligns left, center, right vertically */
  padding: 10px 20px;
}

.left-icons, .right-icons {
  display: flex;
  align-items: center;   /* keeps children aligned */
  gap: 15px;    
  margin-right: 20px;         /* spacing between items */
}

.search-bar {
  flex: 1;
  display: flex;
  justify-content: center;
}

.search-bar input {
  width: 60%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 20px;
  color: white;
  background-color: #1F3A5F;
}

.circle-text {
  width: 30px;
  height: 30px;
  background-color: red;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 16px;
}
.recent-tasks{
    height: 200px;
    margin-bottom: 10px;
    border-radius: 8px;
    /* for verical align too */
    display: flex;
    justify-content: center;
    align-items: center;

    /* shadow */
    
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}


.no-recent-tasks{
    text-align: center;
    font-weight: 100;
    color: rgb(97, 97, 97);
}

.new-task-btn-div{    
    display: flex;
    justify-content: center;
}

.new-task-btn{
    background-color: #1F3A5F;
    color: white;
    height: 50px;
    width: 140px;
    border-radius: 8px;
    border: none;
    margin-top: 20px;
    font-weight: 500;
    cursor: pointer;
    

}

.new-task-btn:hover{
    transform: scale(1.08);
    background-color: #00265c;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
}

.new-task-btn:active{
    transform: scale(1.02);    
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
    
}

